.header__logo {
    width: 142px;
    height: 33px;
    padding:45px 0 41px 0;
}

@media (max-width:910px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-left:27px;
        padding-top: 28px;
        padding-bottom: 31.6px;
    }
}