.popup__submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 2px;
    color: white;
    width: 358px;
    height: 50px;
    margin: 17px 36px 37px 36px;
    padding: 17px 125px 18px 124px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: 0;
    transition: opacity 0.2s ease-in;
}

@media (max-width:800px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        margin: 15px 22px 25px 22px;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
    }
}

.popup__submit-button:hover{
    opacity: 0.8;
}