.profile__icon {
    border: 1px solid #fff;
    padding: 7px;
    margin-left: 18px;
    margin-top: 15px;
    width: 10px;
    height: 10px;
}
@media all and (max-width: 910px) {
    .profile__icon {
        padding: 5.25px;
        margin-left: 10px;
        width: 7.5px;
        height: 7.5px;
    }
}

.profile__icon:hover{
    opacity: 0.6;
}
    